h1{
  font-family: "arial";
  font-size: 40px;
  text-align: center;
  color: #999999;
}
h2{
  font-family: "arial";
  font-size: 30px;
  text-align: center;
  color: #999999;
}
#sloth{
  font-family: "arial";
  font-size: 20px;
  color: #999999;
}
p, pre{
  font-family: "arial";
  font-size: 20px;
  color: #999999;
}
a{
  font-family: "arial";
  font-size: 20px;
  color: #999999;
}
li{
  font-family: "arial";
  font-size: 20px;
  color: #999999;
}
a:visited {
  color: grey;
}
img{
  width: 200px;
  height: auto;
}
body{
  background-color: #333333;
}
#lab5content{
  font-family: "arial";
  font-size: 20px;
  color: #999999;
}
