
h1{
  font-family: "arial";
  font-size: 40px;
  text-align: center;
  color: #ffffff;
}
h2{
  font-family: "arial";
  font-size: 30px;
  text-align: center;
  color: #ffffff;
}
#sloth{
  font-family: "arial";
  font-size: 20px;
  color: #ffffff;
}
p, pre, label, a, li{
  font-family: "arial";
  font-size: 20px;
  color: #ffffff;
}
a:visited {
  color: #999999;
}
img{
  width: 200px;
  height: auto;
  border-radius: 50%;
}
body{
  background-image: linear-gradient(to bottom right, #000000, #333333);
}
#lab5content{
  font-family: "arial";
  font-size: 20px;
  color: #ffffff;
}
