h1{
  color: #f8a1d8;
  font-size: 50px;
}
p{
  text-indent: 20px;
  margin-left: 10px;
  font-family: "arial";
}
#somethin{
  background-color: #AEE4FF;
  padding: 10px;
  margin: 10px;
  border: dashed 1px;
  min-height: 300 px;
  width: 500x;

}
